<!DOCTYPE html><!DOCTYPE html>
<html lang="BR-pt">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 2.0" />
    <link rel="rumsheet" href="stylo.css" />
    <title>Coronavirus-19</title>

    <style>
      body {
        background-color: rgba(137, 145, 148, 0.219);
      }
      </style>
  </head>

  <body>
    <main>
      <header>
        <h1 style = "text-align:center;"> Dados Atualizado </h1>
        <a href="Aqui colocar o mapeamento"> <i class="nome da api"></i> </a>
      </header>

      <div class="container">
         <hr>
        <p>
                Diante da pandemia causada pelo Covid-19, uma forma de traçar
                estratégias para combater a pandemia é monitorar os casos de corona 
                vírus de forma que se gere dados eficientes sobre a ocorrência do vírus. 
                A ferramenta tem por objetivo fornecer dados de forma confiável e transparente 
                para a população e para a comunidade científica sobre a ocorrência diária da pandemia. 
                A  API utiliza como banco de dados, casos validados de corona vírus ao redor do mundo. 
                Com ele se pode comparar dados gerais, ou seja de todo o mundo, assim como dados específicos, 
                de um determinado país. Os quais esses dados podem ser filtrados conforme os seguintes filtros; 
                o número de todos os casos que ocorreram em países de todo mundo, casos exclusivamente por país, 
                recuperação em todos os países, recuperação por país, morte em todos os países e, por fim, mortes por pais.
        </p>
         <hr/>

        <div class="content">
          
          <h3 style = "text-align:center;">ENDPOINTS</h3>
          <hr />
          
          <hr>
           <div class="endpoint">
            <p> GET <a href="/cases" target="_blank"> /cases</a></p>
            <p class="message">
              Casos de todos países do mundo
            </p>
           </div>
          <hr/>
          <hr>
            <div class="endpoint">
            <p>GET  <a href="/cases/<country>" target="_blank">/cases/<country></a></p></p>
            <p class="message">
             Casos por país. 
            </p>
           
            </div>
          <hr/>
          
          <hr>
          <div class="endpoint">
            <p>GET <a href="/recovered" target="_blank">/recovered</a></p> </p>
            <p class="message">
              Recuperações de todos países do mundo
            </p>
      
          </div>
          <hr />
          <hr>
          <div class="endpoint">
            <p> GET <a href="apis" target="_blank" > /recovered/<country></a></p></p>
            <p class="message">
              Recuperações por país.
            </p>
            
          </div>
          <hr />
          <hr>
          <div class="endpoint">
            <p> GET <a href="/deaths" target="_blank"> /deaths </a></p>
            <p class="message">
             Mortes de todos países do mundo.
            </p>
            
          </div>
          <hr />
          
          <hr>
          <div class="endpoint">
            <p> GET <a href="/deaths/<country>" target="_blank" href="/deaths/<country>"> /deaths/<country> </a></p></p>
            <p class="message">
              Mortes por país
            </p>
            
          </div>
           <hr>
          </div>
        </div>
      </div>
    </main>
    <script src="script de funcionamento"></script>  
  </body>
  </html>