<!DOCTYPE html><!DOCTYPE html>
<html lang="BR-pt">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 2.0" />
    <link rel="rumsheet" href="stylo.css" />
    <title>Coronavirus-19</title>

    <style>
      body {
        background-color: rgba(137, 145, 148, 0.219);
      }
      </style>
  </head>

  <body>
    <main>
      <header>
        <h1 style = "text-align:center;"> Dados Atualizado </h1>
        <a href="AQUI COLOCAR O MAPEAMENTO DA API"> <i class="nome da api"></i> </a>
      </header>

      <div class="container">
        <p>
          TEXTO SOBRE A API
        </p>

        <div class="content">
          
          <h3 style = "text-align:center;">ENDPOINTS</h3>
          <hr />
          
          <hr>
           <div class="endpoint">
            <p> GET colocar apresentação da api<a href="Api de resultados" target="_blank"> caso</a></p>
            <p class="message">casos</p>
           </div>
          <hr/>
          <hr>
            <div class="endpoint">
            <p>GET colocar as datas </p>
            <p class="message">
              Retorna todos os casos de covid na data especificada.
            </p>
            <p style="margin-top: 8px;"><strong></strong>:<a target="_blank" href="api">CASO DE COVITES</a></p>
            </div>
          <hr/>
          
          <hr>
          <div class="endpoint">
            <p>GET apis </p>
            <p class="message">
              Retorna todos os casos de covid no estado especificado.
            </p>
            <p style="margin-top: 8px;"><strong></strong>: <a target="_blank" href="apis do corona virus">testo</a></p>
          </div>
          <hr />
          <hr>
          <div class="endpoint">
            <p> GET api do cora com datas e uf</p>
            <p class="message">
              Retorna todos os casos de covid no estado e na data especificado.
            </p>
            <p style="margin-top: 8px;"><strong></strong>: <a target="_blank" href="apis"> contarios do corona virus </a></p>
          </div>
          <hr />
          <hr>
          <div class="endpoint">
            <p> GET api do cora com datas e uf</p>
            <p class="message">
              Retorna todos os casos de covid no estado e na data especificado.
            </p>
            <p style="margin-top: 8px;"><strong></strong>: <a target="_blank" href="apis"> contarios do corona virus </a></p>
          </div>
          <hr />
          
          <hr>
          <div class="endpoint">
            <p> GET api do cora com datas e uf</p>
            <p class="message">
              Retorna todos os casos de covid no estado e na data especificado.
            </p>
            <p style="margin-top: 8px;"><strong></strong>: <a target="_blank" href="apis"> contarios do corona virus </a></p>
          </div>
           <hr>
          </div>
        </div>
      </div>
    </main>
    <script src="script de funcionamento"></script>  
  </body>
  </html>
